* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'title-font';
    src: url(./Content/Font/Futura\ Black.ttf);
}

@font-face {
    font-family: 'subtitle-font';
    src: url(./Content/Font/BDMegalona.otf);
}

body {
    background-color: #000;
    /* max-width: 1150px; */
    margin: 0% auto;
}

header {
    height: 90px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 165px;
    margin-left: 10%;
}

nav {
    width: 800px;
    float: right;
}

ul {
    margin-right: 10%;
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px
}

.head_button {
    width: 140px;
    height: 60px;
    border-radius: 40px;
}

#header_franchise_button {
    background-color: rgba(0,0,0,0);
    color: #fff;
    border-color: #fff;
}

#header_orderonline_button {
    background-color: #fa1724;
    color: #fff;
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.fa-solid {
    font-size: 25px;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

#slider > img {
    width: 100%
}

#ourBrands {
    /* background-color: #000; */
    width: 100%;
    height: 550px;
}

#ourBrands {
    color: #fff;
    margin: auto;
    position: relative;
    height: 535px;
}

.title {
    font-family: 'title-font';
    font-size: 40px;
}
.secText1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 50px 0 10px;
    font-weight: 400;
    text-align: center;
}


.secText2 {
    font-size: 1rem;
    text-align: center;
    word-spacing: 3px;
}

.mainBox {
    position: absolute;
    margin: 60px auto;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.box1 {
    background: #fff;
    border: #fff;
    height: 140px;
    width: 250px;
    color: #000;
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

.box2 {
    background: #fff;
    border: #fff;
    height: 140px;
    width: 250px;
    color: #000;
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

.box3 {
    background: #fff;
    border: #fff;
    height: 140px;
    width: 250px;
    color: #000;
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

.Branch-Logos {
    align-self: center;
    height: 70px;  
}

.order-now-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    width: 150px;
    height: 50px;
    margin: 0 80px;
    color: #fff;
    border-radius: 25px;
}

.order-buttons {
    position: absolute;
    margin: 160px auto;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

        /* Sesction IDs  */
        #ourFranchises {
            background-color: #0f0f0f;
            color: #fff;
            height: 1430px;
        }

        #expressFranchises {
            color: #fff;
            height: 1300px;
        }

        #ourFranchises, #expressFranchises {
            width: 100%;
            margin: auto;
            position: relative;
        }


.franchise {
    /* height: 535px; */
    width: 1000px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    column-count: 2;
}

.franchise > img {
    width: 400px;
    height: 250px;
}

.franchise-text {
    width: 50%;
}

.branch-image {
    height: 300px;
}

.city-name-red-text, .village-franchise > div:nth-child(2) p:nth-child(1) {
    color: #fa1724;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 50px;
}


.franchise-text > .title {
    font-size: 30px;
    line-height: 30px;
}

.fa-location-dot, .fa-phone {
    font-size: 20px;
}

.direction-button {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff ;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.express-franchises-elements {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    max-width: 900px;
}

.expressFranchise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expressFranchise > img {
    width: 250px;
}

.expressFranchise > .title {
    font-size: 25px;
    margin: 8px 0;
}

.expressFranchise > p {
    margin: 8px 0;
}

.expressFranchise > p:nth-child(2) {
    color: #fa1724;
    font-weight: 450;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0 0 0;
}

#village-franchise {
    background-color: #0f0f0f;
    color: #fff;
}

.village-franchise {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.village-franchise > div {
    margin: 0 20px;
}
.village-franchise > div:nth-child(2) > button {
    background-color: #28a745;
    border: none;
}

.openSoon {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    /* width: 1200px; */
}

.openingSoon {
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 250px;
    background-color: #fff;
    color: #000;
}

.openingSoon > img {
    width: 100px;
}

.openingSoon > p:nth-child(3) {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
}

.openingSoon > p:nth-child(2) {
    font-size: 20px;
    color: #fa1724;
}


